<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<h1>Welcome!</h1>
<p>Nice to see you client: <%= user %></p>
<p>The fruit shop is open!</p>
<%- include('../partials/footer') %>
