</main>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">Stolen and glued together by <strong>Eryk Walter</strong> &copy; 2023</span>
    </div>
</footer>
</body>
</html>
