<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/items" class="nav-link px-2 text-white">Shop</a></li>
                <li><a href="/basket" class="nav-link px-2 text-white">Basket</a></li>
            </ul>
            <h1 class="text-center">Fruit Shop</h1>
        </div>
    </div>
</header>
<main class="container">
